.checkout-banner {
  position: relative;
  background-image: url('@/assets/img/checkout-banner.jpg');
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.checkout-box {
  height: 200px;
}
